@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@400;700&display=swap");
@font-face {
  font-family: "Futura Bold";
  src: url("/Futura Bold font.ttf") format("truetype");
  font-style: 700;
  font-weight: bold;
}
html,
* {
  margin: 0;
  font-size: 100%;
}
$bg: #fff;
$title-color: rgb(0, 0, 0);
$red: #d85a5a;
$txt-red: #9e7474;

$s: 0.5vw;
$m: 1.3vw;
$l: 2.5vw;
$xl: 3.5vw;

$colors: (
  ("white", $bg),
  ("black", $title-color),
  ("red", $red),
  ("txt-red", $txt-red)
);
$size: (("s", $s), ("m", $m), ("l", $l), ("xl", $xl));

$fonts: (
  ("Poppins-b", 700, "Poppins"),
  ("Poppins-m", 500, "Poppins"),
  ("Raleway", 400, "Raleway"),
  ("Raleway-b", 700, "Raleway"),
  ("futura-b", 700, "Futura Bold")
);

%button {
  border: none;
  padding: 1em 1.5em;
  border-radius: 2em;
  box-shadow: 2px 5px 7px #00000029;
  margin-right: 1vw;
  &:active {
    box-shadow: none;
  }
}

@each $var in $fonts {
  .text-#{nth($var,1)} {
    font-family: nth($var, 3);
    font-weight: nth($var, 2);
  }
}

@each $var in $colors {
  .c-#{nth($var,1)} {
    color: nth($var, 2);
  }
  .bg-#{nth($var,1)} {
    background: nth($var, 2);
  }
}

@each $var in $size {
  .#{nth($var,1)} {
    font-size: nth($var, 2);
  }
}

@for $i from 2 to 8 {
  .grid-#{$i} {
    display: grid;
    -ms-grid-columns: repeat($i, 1fr);
    grid-template-columns: repeat($i, 1fr);
  }
}

@for $i from 1 to 8 {
  .g-start-#{$i} {
    grid-column-start: $i;
  }
  .g-end-#{$i} {
    grid-column-end: $i;
  }
}
