@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@400;700&display=swap");
@font-face {
  font-family: "Futura Bold";
  src: url("/Futura Bold font.ttf") format("truetype");
  font-style: 700;
  font-weight: bold;
}

$-fonts: (
  ("Poppins-b", 700, "Poppins"),
  ("Poppins-m", 500, "Poppins"),
  ("Raleway", 400, "Raleway"),
  ("Raleway-b", 700, "Raleway"),
  ("futura-b", 700, "Futura Bold")
);

@each $var in $-fonts {
  .text-#{nth($var,1)} {
    font-family: nth($var, 3);
    font-weight: nth($var, 2);
  }
}
