@use "gen";

.contend {
  height: 88vh;
  width: 88vw;
  padding: 6vh 6vw;
  overflow: hidden;
  .grid-2 {
    div {
      .cart {
        display: inline-block;
        position: relative;
        padding: 1.5em 1em 1em 1em;
        border-radius: 1.5em 1.5em 3.5em 1.5em;
        height: 3.5em;
        background-color: #000;
        left: 40vw;
      }
    }
  }
  .grid-5 {
    .g-start-1 {
      .decorator {
        display: inline-block;
        position: absolute;
        width: 0.6vw;
        height: 33vh;
        background-color: $red;
        left: 5vw;
      }
      .main-text > * {
        margin: 1vh 0vh;
      }

      .buttoms-content {
        margin: 5vh 0 2vh 0;
      }
      div {
        margin-top: 1vh;
        h2 {
          width: 20vw;
        }
        h3 {
          width: 115%;
        }
        p {
          width: 130%;
        }
        svg {
          position: relative;
          left: 6vw;
        }
      }
    }
    .g-end-5 {
      svg {
        position: relative;
        top: -9vh;
        left: 5vw;
        width: 50vw;
        height: 100vh;
      }
    }
  }
}

button {
  @extend %button;
}
